@import url("./variables.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--main-font);
	background-color: var(--background-color);
	color: var(--text-color);
	overflow-x: hidden;
}

h1 {
	margin-left: 50px;
}

nav a {
	text-decoration: none;
	color: #ffffff;
}

nav a:hover {
	color: var(--grey-color);
}

.home span {
	font-weight: 700;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes login {
	0% {
		opacity: 1;
		transform: translateX(3px);
	}
	25% {
		transform: translateX(-3px);
	}
	50% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(-3px);
	}
}
